<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">

    <div class="card">
      <div class="card-header">
        <h1 class="h6">
          All boards
        </h1>
      </div>
      
      <div class="list-group list-group-flush">
        <% @list_of_boards.each do |a_board| %>
            <a href="/boards/<%= a_board.id %>" class="list-group-item list-group-item-action d-flex">
              <%= a_board.name %>
              <div class="ms-auto"><i class="fa-solid fa-chevron-right ms-auto"></i></div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <h2>
      Add a new board
    </h2>

    <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>
  </div>
</div>

<hr>
